.HomePage{

    .Content{
        display: flex;
        flex-direction: row;
        > div{
            flex: 1;
        }
    }
}

@media screen and (max-width: 461px){
    .HomePage{
        .Content{
            flex-direction: column;
        }
    }
}