.HomePage{
    padding: 0 8vw;
    .Content{
        display: flex;
        flex-direction: row;
        flex: auto;
        > div{
            flex: 1;
        }
    }
}

@media screen and (max-width: 870px){
    .HomePage{
        padding: 0 3vw;
        .Content{
            flex-direction: column;
            > div{
                flex: auto;
            }
        }
            
        
    }
}