.Model{
    margin: 45px 25px;
    //background-color: skyblue;
    height: 40vh;
    font-family: 'Prompt', sans-serif;
    position: relative;
    //display: block;
    // place-items: center;
    .DrainModel{
        overflow: hidden;
        position: absolute;
        transform: translate(-50%,-50%);
        left:50%;
        top:75%;
        
        // padding: .5em;
        // width:300px;
        // padding-top: 10%; 
        max-width: 600px;
        max-height: 360px;
        min-width: 250px;
        min-height: 150px;
        width: 500px;
        height: 300px;
        //height: 300px;
        // width: 60%;
        // height: calc(33vw/2);
        //display: flex;
        //padding-top: calc(100%*(9/16));
        object-fit: contain;
        border: 6px solid transparent;
        box-sizing: border-box;
        border-top: 2px solid transparent;
        border-radius: 15px;
        border-top-left-radius: 5 px;
        border-top-left-radius: 5 px;
       
        z-index: 1;
        .Water{
            top: 75%;
            position: relative;
            width: 100%;
            height: 100%;
            background-image : url(../asset/Water7.png) ;
            background-size: 100%; 
            background-position: 0 0px;
            background-repeat: repeat-x;
            animation: animate  10s linear infinite;
            &::before{
                display: flex;
                justify-content: center;
                overflow: visible;
                color: white;
                content: attr(data-content);
                text-align: center;
                display: block;
                background: grey;                
                position: absolute;
                top: var(--topBefore,-39px);
                height: 30px;
                width: 5em;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 5px;
                z-index: 1;
            }
            &::after{
                content: ' ';
                border-style: solid;
                border-width: 7px;
                border-color: var(--border-color,grey transparent transparent transparent);
                position: absolute;
                top: var(--topAfter,-10px);
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
           
        }
       
        .flip{
            --border-color: transparent transparent grey transparent;
            --topBefore: 18px;
            --topAfter: 5px;
        }
        
        .coverFrame{
            height: 100%;
            width: 100%;

        }
        img{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%; 
        }
        .Frame{
            position: absolute;
            top: -100%;
            left: 0%;
            width: 100%;
            height: 100%;
            // background-image : url(../asset/Frame.png) ;
            // background-size: 100%; 
            // background-position: 0 0px;
            // background-repeat: no-repeat;
            //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: -6px 45px 57px -35px rgba(0,0,0,0.61);
            -moz-box-shadow: -6px 45px 57px -35px rgba(0,0,0,0.61);
            box-shadow: -6px 45px 57px -35px rgba(0,0,0,0.61);
        }
       
        

    }
        .setCard{
            display : flex ;
            flex-direction: row ;
            width: 55%;
            border: 1px solid #828282;
            box-sizing: border-box;
            border-radius: 10px;
            padding: .2em;
            margin-top: 60%;
        }
        .label-number{
            margin-left: 58%;
            margin-top: -28px;
            background:#63FC01;
            box-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.25);
            text-align: center;
            box-sizing: border-box;
            border-radius: 10px;
        }
        .ShowValue-middle{
            background-color: #f9ca24;
            color: black;
        }
        
        .ShowValue-high{
            background-color: #eb4d4b;
        }
    .Header{
        display: flex;
        width: 100%;
        position: relative;
        .MotherOfSpace{
            width: 100%;
            position: relative;
            .Space{
                background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
                width: 95%;
                height: 3px;
                position: absolute;
                top: 50%;
                // left: 5%;
            }
        }
        .MotherOfCircle{
            position: relative;
            width: 15px;
            padding-left: 5%;
            .Circle{
                height: 12px;
                width: 12px;
                background-color:rgba(104,183,249,1) ;
                border-radius: 50%;
                position: absolute;
                transform: translate(-50%,-50%);
                left:50%;
                top:50%;
            }
        }
        
    }
    // h2{
    //     position: relative;
    // }
    // h2:after{
    //     content: "";
    //     display: block;
    //     width: 80%;
    //     height: 3px;
    //     background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
    //     position: absolute;
    //     top: 50%;
    //     right:0;
    //     border-radius: 25%
        
    // }
    // h2 span{
    //     content:"";
    //     flex: 1 1 auto;
    //     border-top: 1px solid #000;
    // }

   
}

@keyframes animate
{
    0%{
    
        background-position: 0px 0px;
    }
    100%{
    
        background-position: 2000px 0px;
    }   
}


@media screen and ( max-width:1490px ) and ( max-height: 680px){
    .Model{
            height: 55vh;
        .DrainModel{
            width: 390px;
            height: 234px; 
            top: 60%;
        }  
        .setCard{
            display : flex ;
            flex-direction: row ;
            width: 45vh;
            border: 1px solid #828282;
            box-sizing: border-box;
            border-radius: 10px;
            padding: .2em;
            margin-top: 50vh;
          }
          .label-number{
            margin-left: 76%;
            // margin-top: 20%;
            background:#63FC01;
            text-align: center;
        }
        .ShowValue-middle{
            background-color: #f9ca24;
            color: black;
        }
        
        .ShowValue-high{
            background-color: #eb4d4b;
        }
    }
}

@media screen and ( max-width:990px ) and ( max-height: 680px){
    .Model{
        
        .DrainModel{
            width: 390px;
            height: 234px; 
        }  
        .setCard{
            display : flex ;
            flex-direction: row ;
            width: 45vh;
            border: 1px solid #828282;
            box-sizing: border-box;
            border-radius: 10px;
            padding: .2em;
            margin-top: 44vh;
          }
          .label-number{
            margin-left: 76%;
            background:#63FC01;
            text-align: center;
        }
        .ShowValue-middle{
            background-color: #f9ca24;
            color: black;
        }
        
        .ShowValue-high{
            background-color: #eb4d4b;
        }
    }
}

@media screen and (max-width: 1490px){
    .Model{
        
        .DrainModel{
            width: 390px;
            height: 234px; 
        }  
        .setCard{
            display : flex ;
            flex-direction: row ;
            // width: 45vh;
            width: 100%;
            border: 1px solid #828282;
            box-sizing: border-box;
            border-radius: 10px;
            padding: .2em;
            margin-top: 45vh;
            justify-content: center;
          }
          .label-number{
            width: 50%;
            margin-left: 25%;
            margin-top: 10px;
            background:#63FC01;
            text-align: center;
        }
        .ShowValue-middle{
            background-color: #f9ca24;
            color: black;
        }
        
        .ShowValue-high{
            background-color: #eb4d4b;
        }
    }
}
// @media screen and (max-width: 990px) and ( max-height: 680px){
//     .Model{
        
//         .DrainModel{
//             width: 390px;
//             height: 234px; 
//         }  
//         .setCard{
//             display : flex ;
//             flex-direction: row ;
//             width: 50vh;
//             border: 1px solid #828282;
//             box-sizing: border-box;
//             border-radius: 10px;
//             padding: .2em;
//             margin:0px auto;
//           }
//           .label-number{
//             width: 50%;
//             margin-left: 25%;
//             margin-top: 45vh;
//             background:#63FC01;
//             box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//             text-align: center;
//         }
//         .ShowValue-middle{
//             background-color: #f9ca24;
//             color: black;
//         }
        
//         .ShowValue-high{
//             background-color: #eb4d4b;
//         }
//     }
// }
@media screen and (max-width:870px){
    .Model{
        .DrainModel{
            width: 300px;
            height: 180px; 
        }
        .setCard{
            display : flex ;
            flex-direction: row ;
            width: 47vh;
            border: 1px solid #828282;
            box-sizing: border-box;
            border-radius: 10px;
            padding: .2em;
            margin:25px auto;
          }
          .label-number{
            width: 50%;
            margin-left: 25%;
            margin-top: 32vh;
            background:#63FC01;
            text-align: center;
        }
        .ShowValue-middle{
            background-color: #f9ca24;
            color: black;
        }
        
        .ShowValue-high{
            background-color: #eb4d4b;
        }
    }
}
@media screen and (max-width:460px){
    .Model{
        .DrainModel{
            width: 250px;
            height: 150px; 
        }
        .setCard{
            width: 47vh;
          }
        .label-number{
            width: 50%;
            margin-left: 25%;
            margin-top: 28vh;
            background:#63FC01;
            text-align: center;
        }
        .ShowValue-middle{
            background-color: #f9ca24;
            color: black;
        }
        
        .ShowValue-high{
            background-color: #eb4d4b;
        }
    }
}
@media screen and (max-width:380px){
    .Model{
        .DrainModel{
            width: 250px;
            height: 150px; 
        }
        .setCard{
            width: 100%;
          }
        .label-number{
            margin: auto;
            margin-top: 29vh;
            background:#63FC01;
            text-align: center;
        }
        .ShowValue-middle{
            background-color: #f9ca24;
            color: black;
        }
        
        .ShowValue-high{
            background-color: #eb4d4b;
        }
    }
}
