.Model{
    margin: 64px 25px;
    //background-color: skyblue;
    height: 40vh;
    font-family: 'Prompt', sans-serif;
    position: relative;
    // display: grid;
    // place-items: center;
    
    
    .DrainModel{
        overflow: hidden;
        position: absolute;
        transform: translate(-50%,-50%);
        left:50%;
        top:58%;
        
        // padding: .5em;
        // width:300px;
        //padding-top: 10%; 
        max-width: 600px;
        max-height: 360px;
        min-width: 250px;
        min-height: 150px;
        width: 60%;
        height: calc(33vw/2);
        //display: flex;
        //padding-top: calc(100%*(9/16));
        object-fit: contain;
        border: 6px solid transparent;
        box-sizing: border-box;
        border-top: 2px solid transparent;
        border-radius: 15px;
        border-top-left-radius: 5 px;
        border-top-left-radius: 5 px;
       
        z-index: 1;
        .Water{
            z-index: 0;
            position: relative;
            width: 100%;
            height: 100%;
            background-image : url(../asset/Water7.png) ;
            background-size: 100%; 
            background-position: 0 0px;
            background-repeat: repeat-x;
            animation: animate  10s linear infinite;
        }
        .coverFrame{
            height: 100%;
            width: 100%;

        }
        img{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%; 
        }
        .Frame{
            position: absolute;
            top: -100%;
            left: 0%;
            width: 100%;
            height: 100%;
            // background-image : url(../asset/Frame.png) ;
            // background-size: 100%; 
            // background-position: 0 0px;
            // background-repeat: no-repeat;
            //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: -6px 45px 57px -35px rgba(0,0,0,0.61);
            -moz-box-shadow: -6px 45px 57px -35px rgba(0,0,0,0.61);
            box-shadow: -6px 45px 57px -35px rgba(0,0,0,0.61);
        }
       
        

    }
    .Header{
        display: flex;
        width: 100%;
        position: relative;
        .MotherOfSpace{
            width: 100%;
            position: relative;
            .Space{
                background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
                width: 95%;
                height: 3px;
                position: absolute;
                top: 50%;
                // left: 5%;
            }
        }
        .MotherOfCircle{
            position: relative;
            width: 15px;
            padding-left: 5%;
            .Circle{
                height: 12px;
                width: 12px;
                background-color:rgba(104,183,249,1) ;
                border-radius: 50%;
                position: absolute;
                transform: translate(-50%,-50%);
                left:50%;
                top:50%;
            }
        }
        
    }
    // h2{
    //     position: relative;
    // }
    // h2:after{
    //     content: "";
    //     display: block;
    //     width: 80%;
    //     height: 3px;
    //     background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
    //     position: absolute;
    //     top: 50%;
    //     right:0;
    //     border-radius: 25%
        
    // }
    // h2 span{
    //     content:"";
    //     flex: 1 1 auto;
    //     border-top: 1px solid #000;
    // }

   
}

@keyframes animate
{
    0%{
    
        background-position: 0px 0px;
    }
    100%{
    
        background-position: 2000px 0px;
    }
   
    
    
}

@media screen and (max-width: 461px){
    .Model{
        .DrainModel{
            height: 33vw;
        }
    }
}