@import "~react-datepicker/dist/react-datepicker.css";
$ruler: 16px;
$color-red: #AE1100;
$color-shadow: #BABECC;
$color-white: #FFF;
$color-grey:rgba(255, 255, 255, 0.801);
$color-bg-gradient: linear-gradient(108.9deg, #1541a8 4.9%, #78e8ad 97%);
.SendGraph{
    // display: grid;
    // justify-items: center;
    // grid-gap: 5px;
    // grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    // grid-template-columns: repeat(auto-fit, minmax(1fr,1fr));
    // grid-template-rows: repeat(2, 100px);
    background: linear-gradient(#f8f8f8, #fff);
    // background-color: $color-grey;

    .ButtonGraph{
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        padding: 10px;
        width: 100%;
        margin: 1px 0 5px 0;
        background-color: white;
        position: sticky;
        top: 0;
        box-shadow: 0 8px 16px -8px rgba(177, 177, 177, 0.4);
        // background-image: $color-white;
        > div{
            justify-self: center;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            border-right: 1px rgb(219, 219, 219) solid;
            >span{
                color: white;
            }
            &:nth-last-child(1){
                border-right: none;
            }
            .ButtonGraph{
                width: 90%;
            }
        }
        
    }
    .Graph{
        width: 60vw;
        background-color: white;
        box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
        border-radius: 6px;
        white-space: normal;
        margin: 2em auto;
    }
}

@media screen and (max-width: 768px){
    .SendGraph{
        height: 100vh;
        width: 100vw;
        .Graph{
            width: 90vw;
        }
    }
    
}