@import "~react-datepicker/dist/react-datepicker.css";
$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;
.SendGraph{
    display: grid;
    justify-items: center;
    .ButtonGraph{
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        padding: 10px;
        width: 100%;
        margin: 1px 0 5px 0;
        background-image: linear-gradient(108.9deg, #1541a8 4.9%, #78e8ad 97%);
   
        > div{
            justify-self: center;
            >span{
                color: white;
            }
        }
    }
    .Graph{
        width: 60vw;
        margin: 10px 0;
        -webkit-box-shadow: 18px 21px 28px -30px rgba(0,0,0,0.75);
        -moz-box-shadow: 18px 21px 28px -30px rgba(0,0,0,0.75);
        box-shadow: 18px 21px 28px -30px rgba(0,0,0,0.75);
    }
    .Date-Time{
        padding: 1em;
        display: flex;
        p{
            border-radius: 10px;
            box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
            padding: 1em;
            margin: 0 1em; 
            &:hover {
                box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
            } 
            &:active {
                box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
            }  
        }
        // width: 100%;
        span{
            padding: 1em;
        }
    }
}

@media screen and (max-width: 768px){
    .SendGraph{
        height: 100vh;
        width: 100vw;
        .Graph{
            width: 90vw;
        }
        .ButtonGraph{
            display: grid;
            place-items: center;
            grid-auto-flow: row;
        }
    }
    
}