.base-container {

    width : 100% ;
    display : flex ;
    .header {
        font-size : 24px;
        font-family: "Open Sans" , sans-serif ;
    }
}
.txtKEY {
    font-size : 20px;
    font-family: "Open Sans" , sans-serif ;
    display: flex;
    // text-align: center;
    // justify-content: center;
    // align-items: center;
}
.inputDL {
    margin-top: 1px;
    min-width: 25em;
    height: 37px;
    padding: 0px 10px;
    font-size : 16px;
    font-family: 'Open Sans' , sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px ;
    border-bottom: 31px;
    transition: all 250ms ease-in-out;
    &:focus {
        outline: none;
        box-shadow: 0px 0px 12px 0.8px #0e81ce96;
    }
}